@model LocalMealManagement.ViewModel.MealModelView


<div class="row">
    <div class="offset-md-4 col-md-4 tab-pane shadow">
        <form asp-action="AddMeals" class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Morning" class="control-label"></label>
                <input asp-for="Morning" class="form-control" />
                <span asp-validation-for="Morning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinnar" class="control-label"></label>
                <input asp-for="Dinnar" class="form-control" />
                <span asp-validation-for="Dinnar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunch" class="control-label"></label>
                <input asp-for="Lunch" class="form-control" />
                <span asp-validation-for="Lunch" class="text-danger"></span>
            </div>
            <div class="row container">
                <div class="form-group offset-sm-5">
                    <input asp-route-subGroupId="@ViewBag.subGroupId" asp-route-groupId="@ViewBag.groupId" asp-route-date="@ViewBag.dateTime" type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
