@model IList<LocalMealManagement.Models.Groups>


<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card lg-3">
            <div class="card-header">
                <h3>@item.GroupName</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="card-img-top" src="~/Images/massgroup.jpg" style="width:100px; height:100px" />
                    </div>
                    <div class="col-sm-6">
                        <h3>Alamin Hossain</h3>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="GroupAdministration" asp-action="SpecificGroupTask" asp-route-groupId="@item.GroupId" class="btn btn-primary">ManageGroup</a>
                <a asp-controller="ManageGroup" asp-action="AddMemberInGroup" asp-route-groupId="@item.GroupId" class="btn btn-primary">Add Member</a>
                <a asp-controller="ManageGroup" asp-action="MembersInGroup" asp-route-groupId="@item.GroupId" class="btn btn-primary">Members</a>
            </div>
        </div>
    }
</div>


